<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>카페 정보</title>
</head>

<body>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="mockup-window  bg-base-300 max-w-2xl w-full">
        <div class="flex justify-center px-4 py-16 bg-base-200">
            <div class=" max-w-2xl w-full px-4">
                <div class="flex flex-col items-center justify-center">
                    <div class="flex">
                        <div class="text-4xl mb-4" th:text="${cafeInfo.cafeName}"></div>
                    </div>
                    <div class="mb-4 mt-4">
                        <a href="/map" class="flex-col mb-2 btn btn-link"><i
                                class="text-xl fa-solid fa-map-location-dot"></i>지도</a>
                        <a href=# class="btn btn-link flex-col mb-2 "><i
                                class="text-xl fa-solid fa-arrow-up-right-from-square"></i>공유하기</a>
                        <a href=# class="btn btn-link flex-col mb-2 "><i
                                class="text-xl fa-solid fa-arrows-split-up-and-left"></i>길찾기</a>
                    </div>
                </div>

                <div class="flex-col gap-4">
                    <div class="card bg-base-100 shadow-xl">
                        <div class="card-body">
                            <h2 class="card-title">카페 정보</h2>

                            <div class="mt-4">
                                <div class="mb-4">
                                    <div class="badge badge-warning"><i class="fa-solid fa-location-dot"></i> 주소</div>
                                    <div th:text="${cafeInfo.cafeAddress}"></div>
                                </div>
                                <div>
                                    <div class="badge badge-warning"><i class="fa-solid fa-phone"></i> 전화번호</div>
                                    <div th:text="${cafeInfo.cafePhoneNumber}"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4 flex-col gap-4">
                        <div class="card bg-base-100 shadow-xl">
                            <div class="card-body">
                                <span class="card-title flex"><img class="w-10 h-10"
                                                                   src="https://cdn-icons-png.flaticon.com/128/2065/2065224.png"
                                                                   alt="text">이 카페에 대한 태그와 리뷰를 달아주세요.
                                    <a class="ml-auto btn btn-warning"
                                       th:href="@{/cafeInfo/review(cafeId=${cafeInfo.cafeId})}">리뷰 남기기</a>
                                    <label for="modal" class="p-1 btn btn-warning">찜하기 <i
                                            class="text-pink-500 fa-regular fa-heart"></i></label>
                                </span>

                            </div>
                        </div>
                    </div>

                    <div class="mt-4 flex-col gap-4">
                        <div class="card bg-base-100 shadow-xl">
                            <div class="card-body">
                                <div th:text="|전체 (${cafeInfo.cafeReview.size()})|"></div>
                                <div class="mt-4">
                                    <span class="badge badge-accent badge-lg" th:each="tag : ${cafeInfo.cafeTags}"><i
                                            class="fas fa-thumbs-up"></i>
                                        <span th:text="${tag.tag.tagName}"></span>
                                    </span>
                                </div>

                                <div class="divider"></div>

                                <!--여기 반복문으로   -->
                                <div th:if="${!cafeInfo.cafeReview.isEmpty()}">
                                    <div th:each="review : ${cafeInfo.cafeReview}">
                                        <div>
                                            <span th:text="|${review.member.username} |"></span>
                                            <span class="text-warning"
                                                  th:text="${#temporals.format(review.member.createDate, 'yy.MM.dd HH:mm')}"></span>
                                        </div>
                                        <div class="mb-4">
                                            <i class="fa-solid fa-thumbs-up"></i>
                                            <span class="badge badge-accent badge-outline"
                                                  th:each="tag : ${review.reviewTags}"
                                                  th:text="${tag.tag.tagName}"></span>
                                        </div>
                                        <div>
                                            <div th:text="${review.content}"></div>
                                            <div th:if="${review.member.id == member.id}" class="float-right">
                                                <label for="my-modal-5" th:attr="data-id=${review.id}" onclick="openEditModal(this)"><i class="fa-solid fa-pen fa-lg"></i></label>
                                                <button onclick="deleteReview();"><i class="fa-solid fa-trash fa-lg"></i></button>
                                                <input type="hidden" id="delete-id" th:value="${review.id}">
                                            </div>
                                        </div>
                                        <div class="divider mt-2"></div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <input type="checkbox" id="modal" class="modal-toggle"/>
    <div class="modal">
        <div class="modal-box">
            <label for="modal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <form th:action method="POST" class="flex flex-col items-center justify-center"
                  onsubmit="WishForm__submit(this); return false;">
                <h3 class="mb-2 text-lg font-bold">나의 찜 리스트</h3>
                <div class="form-control">
                    <div th:each="wish : ${member.wishLists}">
                        <label class="cursor-pointer label">
                            <span class="label-text p-2" th:text="${wish.wishListTitle}"></span>
                            <input type="checkbox" name="wishList" th:value="${wish.wishListTitle}" class="checkbox checkbox-warning"/>
                        </label>
                    </div>
                </div>
                <button class="btn btn-wide btn-warning mt-2">추가하기</button>
            </form>
        </div>
    </div>

    <input type="checkbox" id="my-modal-5" class="modal-toggle" />
    <label for="my-modal-5" class="modal cursor-pointer">
        <label class="modal-box relative text-center">
            <label for="my-modal-5" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <h2 class="text-lg font-bold">리뷰 수정</h2>
            <form th:action="@{/cafeInfo/review/update(id=${member.id}, x=${cafeInfo.x}, y=${cafeInfo.y})}" method="POST" class="pt-4 flex flex-col gap-4 w-full items-center" onsubmit="ReviewForm__submit(this); return false;">
                <div class="w-full h-20">
                    <textarea class="textarea textarea-warning w-full h-20" name="content" maxlength="30" placeholder="리뷰를 작성해 주세요..!"></textarea>
                </div>
                <div>
                    <input type="hidden" id="edit-id" name="reviewId" />
                    <input type="submit" value="수정" class="btn btn-warning btn-active" />
                </div>
            </form>
        </label>
    </label>


    <script th:inline="javascript">
        function WishForm__submit(form) {

            const $checkedWishList = $(form).find("[name=wishList]:checked");

            if ($checkedWishList.length == 0) {
                toastWarning("찜 리스트를 선택해주세요.");
                $(form).find("[name=wishList]:first").focus();
                return;
            }


            form.submit(); // 폼 발송
        }

        function ReviewForm__submit(form) {
            // content 이(가) 올바른지 체크

            form.content.value = form.content.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.content.value.length === 0) {
                toastWarning('리뷰를 작성해주세요.');
                form.content.focus();
                return;
            }

            if (form.content.value.length < 3) {
                toastWarning('리뷰를 3글자 이상 입력해주세요.');
                form.content.focus();
                return;
            }

            form.submit(); // 폼 발송
        }

        function openEditModal(element) {
            document.getElementById('edit-id').value = element.getAttribute('data-id');
        }
        function deleteReview() {
            const x = /*[[${cafeInfo.x}]]*/ null;
            const y = /*[[${cafeInfo.y}]]*/ null;
            const reviewId = document.getElementById('delete-id').value;
            const confirmation = confirm('정말로 삭제하시겠습니까?');
            if (confirmation) {
                fetch('/cafeInfo/review/delete?x=' + encodeURIComponent(x) +'&y=' + encodeURIComponent(y) + '&reviewId=' + encodeURIComponent(reviewId), {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                })
                    .then(response => {
                        if (response.ok) {
                            // 삭제 성공 후 페이지 새로고침
                            location.reload();
                            toastNotice("리뷰를 삭제하였습니다.");
                        } else {
                            // 응답이 실패했을 경우 처리할 로직 작성
                            // response 객체를 활용하여 실패 정보 추출
                        }
                    })
                    .catch(error => {
                        // 에러 처리
                        // ...
                    });
            }
            }
    </script>
</main>
</body>

</html>