<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>메인</title>
</head>

<body>

<main layout:fragment="main">
    <div class="card w-96 bg-base-100 shadow-xl image-full h-screen w-screen">
        <figure><img src="img/mainpage.png" alt="BeanSight" /></figure>
        <div class="card-body">
            <h2 class="card-title">BeanSight에 오신 여러분 환영합니다 </h2>
            <p>우리는 이런 사이트 입니다.</p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">카카오로 로그인하기</button>
            </div>
        </div>
    </div>
</main>

</body>

</html>

