<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 데이지 UI 불러오기 -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
    <!-- 테일윈드 불러오기 -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- 폰트어썸 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- 아이콘 목록 : https://fontawesome.com/search?o=r&m=free -->
    <title>내 정보</title>
</head>
<body>
<div class="w-screen h-screen flex flex-col items-center">
    <div class="w-3/4 mt-24 h-4/5">
        <div class="flex justify-between">
            <div class="text-3xl mb-6">⭐️나만의 찜 리스트⭐️</div>
            <div class="mr-16">
                <button class="btn btn-outline btn-warning btn-active btn-md"><i class="fa-solid fa-map fa-lg mr-1"></i>지도보기</button>
            </div>
        </div>
        <div class="flex flex-wrap">
            <div class="dropdown dropdown-hover no-animation">
                <label tabindex="0" class="btn btn-outline btn-warning m-1">📚 공부하기좋은카페</label>
                <ul tabindex="0" class="dropdown-content menu menu-compact text-warning p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a>Item 1</a></li>
                    <li><a>Item 2</a></li>
                    <li><a>Item 3</a></li>
                    <li><a>Item 4</a></li>
                    <li><a>Item 5</a></li>
                </ul>
            </div>
            <div class="dropdown dropdown-hover no-animation">
                <label tabindex="0" class="btn btn-outline btn-warning m-1">📸 인스타감성카페</label>
                <ul tabindex="0" class="dropdown-content menu menu-compact text-warning p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a>Item 1</a></li>
                    <li><a>Item 2</a></li>
                    <li><a>Item 3</a></li>
                    <li><a>Item 4</a></li>
                    <li><a>Item 5</a></li>
                </ul>
            </div>
            <div class="dropdown dropdown-hover no-animation">
                <label tabindex="0" class="btn btn-outline btn-warning m-1">📸 인스타감성카페</label>
                <ul tabindex="0" class="dropdown-content menu menu-compact text-warning p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a>Item 1</a></li>
                    <li><a>Item 2</a></li>
                    <li><a>Item 3</a></li>
                    <li><a>Item 4</a></li>
                    <li><a>Item 5</a></li>
                </ul>
            </div>
            <div class="dropdown dropdown-hover no-animation">
                <label tabindex="0" class="btn btn-outline btn-warning m-1">📸 인스타감성카페</label>
                <ul tabindex="0" class="dropdown-content menu menu-compact text-warning p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a>Item 1</a></li>
                    <li><a>Item 2</a></li>
                    <li><a>Item 3</a></li>
                    <li><a>Item 4</a></li>
                    <li><a>Item 5</a></li>
                </ul>
            </div>
            <div class="dropdown dropdown-hover no-animation">
                <label tabindex="0" class="btn btn-outline btn-warning m-1">📸 인스타감성카페</label>
                <ul tabindex="0" class="dropdown-content menu menu-compact text-warning p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a>Item 1</a></li>
                    <li><a>Item 2</a></li>
                    <li><a>Item 3</a></li>
                    <li><a>Item 4</a></li>
                    <li><a>Item 5</a></li>
                </ul>
            </div>
            <div class="dropdown dropdown-hover no-animation">
                <label tabindex="0" class="btn btn-outline btn-warning m-1">📸 인스타감성카페</label>
                <ul tabindex="0" class="dropdown-content menu menu-compact text-warning p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a>Item 1</a></li>
                    <li><a>Item 2</a></li>
                    <li><a>Item 3</a></li>
                    <li><a>Item 4</a></li>
                    <li><a>Item 5</a></li>
                </ul>
            </div>
            <div class="dropdown dropdown-hover no-animation">
                <label tabindex="0" class="btn btn-outline btn-warning m-1">📸 인스타감성카페</label>
                <ul tabindex="0" class="dropdown-content menu menu-compact text-warning p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a>Item 1</a></li>
                    <li><a>Item 2</a></li>
                    <li><a>Item 3</a></li>
                    <li><a>Item 4</a></li>
                    <li><a>Item 5</a></li>
                </ul>
            </div>

            <div>
                <!-- The button to open modal -->
                <label for="my-modal-4" class="btn btn-active btn-warning mt-1 ml-1"><i class="fa-solid fa-plus"></i></label>

                <!-- Put this part before </body> tag -->
                <input type="checkbox" id="my-modal-4" class="modal-toggle" />
                <label for="my-modal-4" class="modal cursor-pointer">
                    <label class="modal-box relative">
                        <label for="my-modal-4" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                        <h2 class="text-lg font-bold">찜 리스트 생성</h2>
                        <form th:action method="POST" class="pt-4 flex flex-col gap-4 w-full items-center" onsubmit="ReviewForm__submit(this); return false;">
                            <div class="w-full h-20">
                                <textarea class="textarea textarea-warning w-full h-20" name="content" placeholder="입력바랍니다."></textarea>
                            </div>
                            <div>
                                <input type="submit" value="만들기" class="btn btn-warning btn-active">
                            </div>
                        </form>
                    </label>
                </label>
            </div>
        </div>

    </div>

    <div class="w-2/5 flex justify-center">

    </div>

</div>
<script>
    function ReviewForm__submit(form) {
        // content 이(가) 올바른지 체크

        form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

        if (form.content.value.length == 0) {
            toastWarning('리뷰를 작성해주세요.');
            form.content.focus();
            return;
        }

        if (form.content.value.length < 9) {
            toastWarning('리뷰를 3글자 이상 입력해주세요.');
            form.content.focus();
            return;
        }

        form.submit(); // 폼 발송
    }
</script>
</body>
</html>