<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>카페 정보</title>
</head>

<body>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
<div class="w-screen h-screen flex flex-col items-center">
    <div class="w-3/4 mt-24 h-4/5">
        <div class="flex justify-between">
            <div class="text-3xl mb-6">⭐️나만의 찜 리스트⭐️</div>
            <div>
                <button class="btn btn-outline btn-warning btn-active btn-md" onclick="location.href = '/map'">
                    <i class="fa-solid fa-map fa-lg mr-1"></i>지도보기
                </button>
            </div>
        </div>
        <div class="flex flex-wrap">
            <div th:if="${!member.wishLists.isEmpty()}" class="flex">
                <div th:each="memberWishList : ${member.wishLists}">
                    <div class="dropdown dropdown-hover no-animation mr-2">
                        <label for="my-modal-5" class="btn btn-outline btn-warning m-1" th:text="${memberWishList.wishListTitle}" th:attr="data-id=${memberWishList.id}" onclick="openEditDeleteModal(this)"></label>
                        <ul tabindex="0" class="dropdown-content menu menu-compact text-warning p-2 shadow bg-base-100 rounded-box w-52">
                            <li th:each="cafeList :${memberWishList.cafeInfoWishLists}">
                                <a th:href="@{|/cafeInfo?x=${cafeList.cafeInfo.x}&y=${cafeList.cafeInfo.y}|}" th:text="${cafeList.cafeInfo.cafeName}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div>
                <!-- The button to open modal -->
                <label for="my-modal-4" class="btn btn-active btn-warning mt-1 ml-1"><i class="fa-solid fa-plus"></i></label>

                <!-- Put this part before </body> tag -->
                <input type="checkbox" id="my-modal-4" class="modal-toggle" />
                <label for="my-modal-4" class="modal cursor-pointer">
                    <label class="modal-box relative">
                        <label for="my-modal-4" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                        <h2 class="text-lg font-bold">찜 리스트 생성</h2>
                        <form th:action="@{/member/me/create(id=${member.id})}" method="POST" class="pt-4 flex flex-col gap-4 w-full items-center" onsubmit="WishListForm__submit(this); return false;">
                            <div class="w-full h-20">
                                <input type="text" class="input input-warning w-full h-3" name="content" maxlength="10" placeholder="찜제목을 작성해 주세요."></input>
                            </div>
                            <div>
                                <input type="submit" value="만들기" class="btn btn-warning btn-active">
                            </div>
                        </form>
                    </label>
                </label>

                <input type="checkbox" id="my-modal-5" class="modal-toggle" />
                <label for="my-modal-5" class="modal cursor-pointer">
                    <label class="modal-box relative text-center">
                        <label for="my-modal-5" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                        <h2 class="text-lg font-bold">찜 제목 수정/삭제</h2>
                        <form th:action="@{/member/me/update(id=${member.id})}" method="POST" class="pt-4 flex flex-col gap-4 w-full items-center" onsubmit="WishListForm__submit(this); return false;">
                            <div class="w-full h-20">
                                <input type="text" class="input input-warning w-full h-3" name="content" maxlength="10" placeholder="찜제목을 작성해 주세요."/>
                            </div>
                            <div>
                                <input type="hidden" id="edit-delete-id" name="wishListId" />
                                <input type="submit" value="수정" class="btn btn-warning btn-active" />
                            </div>
                        </form>
                        <button onclick="if ( confirm('정말로 취소하시겠습니까?') ) $(this).next().submit();" class="btn btn-active btn-warning m-1">삭제</button>
                        <form th:action="@{/member/me/delete(id=${member.id})}" method="POST" class="pt-4 flex flex-col gap-4 w-full items-center">
                            <div>
                                <input type="hidden" id="delete-id" name="wishListId" />
                            </div>
                        </form>
                    </label>
                </label>

            </div>
        </div>

    </div>

    <div class="w-2/5 flex justify-center">

    </div>

</div>
<script th:inline="javascript">
    function WishListForm__submit(form) {
        // content 이(가) 올바른지 체크

        form.content.value = form.content.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

        if (form.content.value.length === 0) {
            toastWarning('찜 제목을 작성해주세요.');
            form.content.focus();
            return;
        }

        if (form.content.value.length < 3) {
            toastWarning('찜 제목을 3글자 이상 입력해주세요.');
            form.content.focus();
            return;
        }

        form.submit(); // 폼 발송
    }

    function openEditDeleteModal(element) {
        document.getElementById('edit-delete-id').value = element.getAttribute('data-id');
        document.getElementById('delete-id').value = element.getAttribute('data-id');
    }

</script>
</main>
</body>
</html>