<html layout:decorate="~{usr/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 데이지 UI 불러오기 -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
    <!-- 테일윈드 불러오기 -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- 폰트어썸 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- 아이콘 목록 : https://fontawesome.com/search?o=r&m=free -->
    <title>리뷰작성</title>
</head>
<body>
<main layout:fragment="main">
<div class="w-screen h-screen flex flex-col items-center">
    <div class="w-3/4 text-center mt-24">
        <div class="text-3xl">이 카페의 추천 포인트는?</div>
        <div th:replace="fragment/tagSelect::tagSelectFragment"></div>
    </div>

    <div id="thumbContainer" class="mt-20">
        <button class="tag btn btn-outline btn-warning btn-md btn-wide"><i class="fa-solid fa-thumbs-up fa-2xl"></i></button>
        <button class="tag btn btn-outline btn-warning btn-md btn-wide"><i class="fa-solid fa-thumbs-down fa-2xl"></i></button>
    </div>

    <div class="w-2/5 flex justify-center">
        <form th:action method="POST" style="width: 520px" class="pt-4 flex flex-col gap-4 items-center" onsubmit="ReviewForm__submit(this); return false;">
            <div class="w-full h-20">
                <textarea class="textarea textarea-warning w-full h-20" name="content" placeholder="리뷰를 작성해 주세요..!"></textarea>
            </div>
            <div>
                <input type="submit" value="작성완료" class="btn btn-warning btn-active">
                <input id="cancel" type="button" value="뒤로가기" class="btn btn-warning btn-active">
            </div>
        </form>
    </div>
</div>
<script>
    const thumbContainer = document.getElementById('thumbContainer');
    thumbContainer.addEventListener('click', function (e){
        if (e.target.classList.contains('tag')){
            e.target.classList.toggle('btn-active');
        }
    });

    document.getElementById("cancel").addEventListener("click", function (){
        window.location.href = '/member/me';
    });

    function ReviewForm__submit(form) {
        // content 이(가) 올바른지 체크

        form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

        if (form.content.value.length == 0) {
            toastWarning('리뷰를 작성해주세요.');
            form.content.focus();
            return;
        }

        if (form.content.value.length < 9) {
            toastWarning('리뷰를 3글자 이상 입력해주세요.');
            form.content.focus();
            return;
        }

        form.submit(); // 폼 발송
    }
</script>
</main>
</body>
</html>